<form action='/articles' method='post'>
  Title: <input type='text' name='title'><br>
  Author: <input type='text' name='author'><br>
  Body: <input type='text' name='body'><br>
  <input type='submit' value='Submit'>
</form>

{{#if error}} 
  <div class='error_banner'>
    <img class='error_img' src='/resources/drudgesiren.gif'>
    <p>{{error}}</p>
  </div>
{{/if}}