<form action='/articles' method='post'>
  Title: <input name='title'><br>
  Author: <input name='author'><br>
  Body: <input name='body'><br>
  <input type='submit' value='Submit'>
</form>

{{#if error}}
  <p>ERROR WASN'T ABLE TO INSERT ARTICLE</p>
{{/if}}